<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>THE HOME PAGE <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quis eaque recusandae eos consectetur maiores maxime veniam fugit molestias hic?
    </p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam placeat corrupti fugiat harum enim. Sunt rerum quidem sit assumenda eveniet, fuga labore blanditiis nihil, 
        maiores quia molestias. Rerum accusamus numquam ut nostrum, molestias nesciunt magni laudantium repellendus molestiae, exercitationem accusantium?</p>
</body>
</html>